{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPU Scheduling Algorithm Simulator</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>

<div class="box">
    <form class="form" action="" method="post">
        {% csrf_token %}
        <h1>CPU Scheduling Algorithm</h1>
        <div class="chose">
            <label id="xyz" for="algorithm">Choose Algorithm:</label>
            <select class="dropbox" name="algorithm" id="algorithm">
                <option value="">-- Select --</option>
                <option value="fcfs">FCFS</option>
                <option value="round_robin">Round Robin</option>
                <option value="sjf">SJF</option>
                <option value="priority">Priority Scheduling</option>
            </select>
        </div>
        
        <div id="for">
            <label id="xyz" for="processes">Enter number of processes:</label>
            <input class="idnum" type="number" class="checkbox" id="processes" name="processes" placeholder="Enter number of processes">
        </div>
        
        <button type="submit" class="btn">Enter</button>
    </form>
</div>

</body>
</html>
